*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
/* 主頁 */
.top{
    background: linear-gradient(96deg, rgba(230, 174, 65, 0.58) 45.46%, rgba(228, 183, 98, 0.00) 115.18%);
    width: 430px;
    height: 6.5625rem;
    flex-shrink: 0;
    margin: auto;
    display: flex;
}

.li_symbol{
    margin-top: 63px;
    margin-left: 10px; 
}

.ndhu_symbol{
    height: 50px;
    width: 312px;
    margin-top: 55px;
    margin-left: 20px; 
}

.post{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.heightlight{
    width: 430px;
    height: 153px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9d9d9;
}

/* 名單 */


.menbrane_box{
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    flex-wrap: wrap;
}

.box1{
    line-height: 60px;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
    width: 430px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px dotted black;
    padding: 10px 0px;
}

.box-item1{
    display: block;
    text-align: center;
    width: 100px;
}

.box-item2{
    display: block;
    text-align: left;
    justify-content: left;
    width: 203px;
    line-height: 25px;
}

.cc, .down{
    background-color: #d9d9d9;
    text-align: center;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
/* 地圖 */
.mapitem{
    width: 430px;
    padding-top: 20px;
}

.mapbox{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 430px; 
}

/* 作品集1 */
.container{
    width: auto;
    display: flex;
    width: 430px;
}

.ma-auto{
    margin-left: auto;
    margin-right: auto;
}

.pic-ls{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.pic-item{
    width: 33%;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 9px;
    list-style-type: none;
}

.pic-item > a{
    position: relative;
    display: block;
}

.img-inner{
    display: block;
    width: 120px;
}

.img-inner img{
    width: 120px;
    height: 67.5px;
}

.pic-intro{
    border-top: 2px solid #551a8b;
}

.pic-title{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    color: black;
    list-style-type: none;
    align-items: baseline;
}

/* 頁數標籤 */

.page_control{
    display: flex;
    text-align: center;
    justify-content: center;
}

.page_item{
    padding: 10px;
}

.upbtn{
    text-align: center;
    border: 0;
}

/* 跳轉清單開始 */
.changebox{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
}

.changebox_tittle{
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 26px;
    text-align: center;
    color: black;
}

.changebox_tittle span{
    position: relative;
    z-index: 2;
}

.changebox_tittle::before{
    content: attr(data-en);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(229, 192, 70, .3);
    font-size: 60px;
    font-style: italic;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}


/* 合作 */
.cp_box{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    flex-wrap: wrap;
}

.cpbox1{
    justify-content: center;
}

.cp_item1 img{
    padding: 20px;
    text-align: center;
    width: 130px;
}

.cp_item2{
    width: 220px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.cpbox1{
    width: 430px;
    display: flex;
    padding-bottom: 10px;
}
